{% extends "base.html" %}

{% block content %}

<div class="container">
  <h1>注册帐号</h1>

  <form method="post" id="register">{% csrf_token %}
    <label for="id_username">用户名:</label>
    <input id="id_username" maxlength="30" name="username" type="text">
    <label for="id_password1">密码:</label>
    <input id="id_password1" name="password1" type="password">
    <label for="id_password2">密码确认:</label>
    <input id="id_password2" name="password2" type="password">
    <a href="/accounts/login/" class="btn btn-login">登录</a>
    <input type="submit" class="btn-register" value="注册">
  </form>
</div>

{% endblock %}
